<a href="https://colab.research.google.com/github/Pavan6-c/-ICP-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
s = input("Enter a string: ")
char_list = list(s)
del char_list[0]
del char_list[0]
char_list.reverse()
result = ''.join(char_list)
print(result)

Enter a string: cool
lo

In this program i have taken a string, removed the first two characters, and reversed the remaining characters, and prints the result.

In [5]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
if num2 != 0:
    division = num1 / num2
else:
    division = "Undefined (division by zero)"
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

Enter first number: 10
Enter second number: 5
Addition: 15.0
Subtraction: 5.0
Multiplication: 50.0
Division: 2.0

In this program i have taken two numbers from the user and performed addition, subtraction, multiplication, and safe division.

In [6]:
sentence = input("Enter a sentence: ")
modified_sentence = sentence.replace("python", "pythons")
print(modified_sentence)

Enter a sentence: I love playing with python
I love playing with pythons

In this program replaced every occurrence of "python" with "pythons" in the input sentence and printed the result.

In [11]:
score = float(input("Enter your class score (0-100): "))
if score >= 90 and score <= 100:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
elif score >= 0:
    grade = 'F'
else:
    grade = "Invalid score"
print("Your grade is:", grade)

Enter your class score (0-100): 93
Your grade is: A

In this program i have a class score as input and printed the corresponding letter grade based on standard grading criteria.

In [8]:
x = [23, 'Python', 23.98]
types = [type(item) for item in x]
print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In this program printed a list and a new list showing the data type of each element in the original list.

In [12]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Length of IT_companies:", len(IT_companies))
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)
IT_companies.update(['Snapchat', 'Netflix', 'Intel'])
print("After adding multiple companies:", IT_companies)
IT_companies.remove('Oracle')
print("After removing Oracle:", IT_companies)
print("Difference between remove and discard:")
print("- remove() raises an error if the item is not found.")
print("- discard() does nothing if the item is not found.")
print("A union B:", A.union(B))
print("A intersection B:", A.intersection(B))
print("Is A subset of B:", A.issubset(B))
print("Are A and B disjoint:", A.isdisjoint(B))
print("A | B:", A | B)
print("B | A:", B | A)
print("Symmetric difference:", A.symmetric_difference(B))
del A
del B
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Twitter', 'Facebook', 'Amazon', 'IBM', 'Oracle', 'Google', 'Microsoft', 'Apple'}
After adding multiple companies: {'IBM', 'Microsoft', 'Twitter', 'Amazon', 'Snapchat', 'Oracle', 'Intel', 'Google', 'Facebook', 'Netflix', 'Apple'}
After removing Oracle: {'IBM', 'Microsoft', 'Twitter', 'Amazon', 'Snapchat', 'Intel', 'Google', 'Facebook', 'Netflix', 'Apple'}
Difference between remove and discard:
- remove() raises an error if the item is not found.
- discard() does nothing if the item is not found.
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint: False
A | B: {19, 20, 22, 24, 25, 26, 27, 28}
B | A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
Length of age list: 8
Length of age set: 5

In this program performed various set operations on IT companies and number sets, demonstrating addition, removal, unions, intersections, differences, and comparing list vs. set length.